<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom 404</title>
</head>
<body>
<h1>Custom bookshelf 404 page (not found)</h1>
<h2 th:text="${errorMessage}"></h2>
<a href="/login">back to login page</a>
</body>
</html>