<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Custom 500</title>
</head>
<body>
<h1>Custom 500 page</h1>
<h2 th:text="${errorMessage}"></h2>
<a href="/login">back to login page</a> or <a href="/books/shelf">to bookshelf</a>
</body>
</html>