<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My book shelf</title>
    <style>
        #root_container {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #books {
            width: 50%;
            border-collapse: collapse;
        }

        table {
            margin: 25px;
        }

        th {
            text-align: left;
        }

        th, td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div id="root_container">
    <h3>Create books</h3>
    <form method="post" th:action="@{/books/save}" th:object="${book}">
        <table>
            <tr>
                <td>
                    <input type="text" placeholder="author" th:field="*{author}">
                    <p th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author is invalid</p>
                </td>
                <td>
                    <input type="text" placeholder="book_title" th:field="*{title}">
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title is invalid</p>
                </td>
                <td>
                    <input type="text" placeholder="size (pages)" th:field="*{size}">
                    <p th:if="${#fields.hasErrors('size')}" th:errors="*{size}">Size is invalid</p>
                </td>
                <td>
                    <input type="submit" value="save">
                </td>
            </tr>
        </table>
    </form>

    <h3>Upload</h3>

    <form method="post" th:action="@{/books/uploadFile}" enctype="multipart/form-data">
        <table>
            <tr>
                <td>
                    <input type="file" name="file">
                </td>
                <td>
                    <input type="submit" value="upload">
                </td>
            </tr>
        </table>
    </form>

    <h3>Remove books</h3>

    <div>
        <form method="post" th:action="@{/books/remove}" th:object="${bookIdToRemove}" style="display: inline-block;">
            <input type="number" placeholder="id number" th:field="*{id}">
            <br />
            <input type="submit" value="remove">
            <p th:if="${#fields.hasErrors()}">Wrong id or not found</p>
        </form>
        <form method="post" th:action="@{/books/removeBySize}" th:object="${bookSizeToRemove}" style="display: inline-block;">
            <input type="text" placeholder="size" th:field="*{size}">
            <br />
            <input type="submit" value="remove">
            <p th:if="${#fields.hasErrors()}">Wrong size or not found</p>
        </form>
        <form method="post" th:action="@{/books/removeByTitle}" th:object="${bookTitleToRemove}" style="display: inline-block;">
            <input type="text" placeholder="title regex" th:field="*{title}">
            <br />
            <input type="submit" value="remove">
            <p th:if="${#fields.hasErrors()}">Wrong title or not found</p>
        </form>
        <form method="post" th:action="@{/books/removeByAuthor}" th:object="${bookAuthorToRemove}" style="display: inline-block;">
            <input type="text" placeholder="author regex" th:field="*{author}">
            <br />
            <input type="submit" value="remove">
            <p th:if="${#fields.hasErrors()}">Wrong author or not found</p>
        </form>
    </div>

    <h3>Filter books</h3>

    <div>
        <form method="post" th:action="@{/books/filterBySize}" th:object="${bookSizeToFilter}" style="display: inline-block;">
            <input type="text" placeholder="size" th:field="*{size}">
            <br />
            <input type="submit" value="filter">
            <p th:if="${#fields.hasErrors()}">Wrong size or not found</p>
        </form>
        <form method="post" th:action="@{/books/filterByTitle}" th:object="${bookTitleToFilter}" style="display: inline-block;">
            <input type="text" placeholder="title regex" th:field="*{title}">
            <br />
            <input type="submit" value="filter">
            <p th:if="${#fields.hasErrors()}">Wrong title or not found</p>
        </form>
        <form method="post" th:action="@{/books/filterByAuthor}" th:object="${bookAuthorToFilter}" style="display: inline-block;">
            <input type="text" placeholder="author regex" th:field="*{author}">
            <br />
            <input type="submit" value="filter">
            <p th:if="${#fields.hasErrors()}">Wrong author or not found</p>
        </form>
    </div>

    <p>
        <a th:href="@{/books/shelf}">Clear filter</a>
    </p>

    <table id="books">
        <tr>
            <th>id</th>
            <th>author</th>
            <th>title</th>
            <th>size</th>
        </tr>
        <tr th:each="book : ${bookList}">
            <td th:text="${book.id}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.size}"></td>
        </tr>
    </table>

    <h3>Uploads</h3>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="@{/books/download/__${file}__}" th:text="${file}"></a>
        </li>
    </ul>
</div>
</body>
</html>